<!-- This is how comments are written in html -->
<h1>Hello, {{.Name}}</h1>  <!-- "Name" is going to be inserted dynamically, adding it this way is going to make it easier to pick it up from within the Go code -->
